body{
    font-family: "Public Sans", sans-serif;
}
a {
    text-decoration: none;
    color: $dark_blue;
    font-size: 18px;
}
p {
    font-size: 14px;
    color: $grayish_blue;
    line-height: 1.5;
    text-align: center;
    @include responsive($tablet) {
        font-size: 16px;
    }
}
h1, h2, h3 {
    color: $dark_blue;
    text-align: center;
    font-weight: 400;
}
h1 {
    font-size: 2em;
}
@include responsive($desktop){
    br {
        display: none;
    }
}