.articles {
    padding: 100px 6%;
    @include responsive($desktop){
        padding: 100px 10%
            
        h1 {
            text-align: left;
            font-size: 40px
        }
    }
    
    &__container {
        @include flex_centered(row);
        gap: 30px;
        @include responsive($desktop) {
            justify-content: space-between;
            gap: 20px;
        }

        article {
            width: 100%;
            max-width: 400px;
            background-color: $white;
            border-radius: 7px;
            margin-top: 50px;
            @include responsive($desktop){
                max-width: 267px;
            }
            
            img {
                width: 100%;
                height: 220px;
                object-fit: cover;
                border-radius: 7px 7px 0 0;
                @include responsive($desktop){
                    height: 200px;
                }
            }
            
            .article__text {
                padding: 30px 25px 45px; 
                @include flex_centered(column);
                align-items: flex-start;    
                gap: 20px;
    
                h3, p {
                    text-align: left;
                    line-height: 1.2;
                }
                h3 {
                    font-size: 20px;
                    cursor: pointer;
                }
                h3:hover {
                    color: $lime_green;
                }
                p{
                    font-size: 13px;
                }
                .author {
                    font-size: 12px;
                }
            }
        }
    }
}
